
mark
{
        background:hotpink;
}
#smallLight
{
        color:hsl(30%, 40%, 5%);
}
#smallSaturation
{
        color:hsl(30%, 5%, 40%);
}
#smallHue
{
        color:hsl(5%, 40%, 30%);
}
#correctPara
{
        color:hsl(50%, 500%, 50%);
}